Repository Chaoyingz/flect: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, js-prettier

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.3.0
      hooks:
          - id: check-yaml
          - id: check-toml
          - id: end-of-file-fixer
          - id: trailing-whitespace

    - repo: local
      hooks:
        - id: python-format
          name: python-format
          types_or: [python]
          entry: make format
          language: system
          pass_filenames: false

        - id: js-prettier
          name: js-prettier
          types_or: [ javascript, jsx, ts, tsx, css, json, markdown ]
          entry: npm run prettier
          language: system

Add component page
  demo/app.py
  src/npm-tui/package.json
  src/npm-tui/src/App.tsx
  src/npm-tui/src/components/any-component.tsx
  src/npm-tui/src/components/tui/container.tsx
  src/npm-tui/src/components/tui/heading.tsx
  src/npm-tui/src/components/tui/link.tsx
  src/npm-tui/src/tui.tsx
  src/npm-tui/tailwind.config.js
  src/python-tui/src/tui/components.py
Due: python-format, js-prettier

Update readme
  README.md
Due: js-prettier

Update prebuild path
  demo/app.py
Due: python-format

Update tailwind safelist
  demo/app.py
  src/npm-tui/src/components/ui/avatar.tsx
  src/npm-tui/tailwind.config.js
Due: python-format, js-prettier

Update link component
  demo/app.py
  src/npm-tui/package.json
  src/npm-tui/src/components/any-component.tsx
  src/npm-tui/src/components/tui/link.tsx
  src/npm-tui/src/components/tui/text.tsx
  src/python-tui/src/tui/components.py
Due: python-format, js-prettier

Update README.md
  README.md
Due: js-prettier

Add layout
  Makefile
  docs/__init__.py
  docs/app.py
  docs/components/__init__.py
  docs/components/site_header.py
  docs/layouts/__init__.py
  docs/layouts/root_layout.py
  docs/pages/__init__.py
  docs/pages/landing.py
  docs/routes.py
  pyproject.toml
  src/npm-tui/src/tui.tsx
  src/python-tui/pdm.lock
  src/python-tui/pyproject.toml
  src/python-tui/src/tui/__init__.py
  src/python-tui/src/tui/init.py
  src/python-tui/src/tui/prebuild.py
  src/python-tui/src/tui/py.typed
  src/python-tui/src/tui/routing.py
  src/python-tui/tests/test_route.py
Due: python-format, js-prettier

Fix layout typing
  Makefile
  docs/app.py
  docs/components/site_header.py
  docs/layouts/root_layout.py
  docs/pages/landing.py
  docs/routes.py
  src/python-tui/src/tui/routing.py
Due: python-format

Update components children name
  Makefile
  demo/app.py
  docs/components/site_header.py
  docs/layouts/root_layout.py
  docs/pages/landing.py
  src/npm-tui/src/components/any-component.tsx
  src/npm-tui/src/components/tui/container.tsx
  src/npm-tui/src/components/tui/link.tsx
  src/npm-tui/src/tui.tsx
  src/python-tui/src/tui/components.py
Due: python-format, js-prettier

Update layout
  docs/app.py
  docs/layouts/root_layout.py
  docs/pages/landing.py
  docs/routes.py
  src/python-tui/pdm.lock
  src/python-tui/src/tui/__init__.py
  src/python-tui/src/tui/components.py
  src/python-tui/src/tui/routing.py
Due: python-format

Add apply layout
  docs/layouts/root_layout.py
  docs/pages/landing.py
  src/python-tui/src/tui/__init__.py
  src/python-tui/src/tui/layout.py
Due: python-format

Update component list name
  docs/layouts/root_layout.py
  docs/pages/landing.py
  src/npm-tui/src/components/any-component.tsx
  src/npm-tui/src/components/tui/container.tsx
  src/npm-tui/src/components/tui/link.tsx
  src/npm-tui/src/tui.tsx
  src/python-tui/src/tui/components.py
Due: python-format, js-prettier

Update components order
  src/npm-tui/src/components/any-component.tsx
  src/python-tui/src/tui/components.py
Due: python-format, js-prettier

Remove logo component
  docs/components/site_header.py
  src/npm-tui/index.html
  src/npm-tui/pnpm-lock.yaml
  src/npm-tui/src/components/any-component.tsx
  src/npm-tui/src/components/tui/logo.tsx
  src/npm-tui/src/globals.css
  src/npm-tui/src/lib/font.ts
  src/npm-tui/tailwind.config.js
  src/python-tui/src/tui/components.py
Due: python-format, js-prettier

Add class name to base component
  src/npm-tui/src/components/tui/avatar.tsx
  src/npm-tui/src/components/tui/button.tsx
  src/npm-tui/src/components/tui/container.tsx
  src/npm-tui/src/components/tui/heading.tsx
  src/npm-tui/src/components/tui/link.tsx
  src/npm-tui/src/components/tui/text.tsx
  src/npm-tui/tailwind.config.js
  src/python-tui/src/tui/components.py
Due: python-format, js-prettier

Update safelist
  docs/components/site_header.py
  src/npm-tui/src/components/tui/avatar.tsx
  src/npm-tui/src/components/tui/link.tsx
  src/npm-tui/src/components/tui/text.tsx
  src/npm-tui/tailwind.config.js
Due: python-format, js-prettier

Add docs layout
  docs/app.py
  docs/components/site_header.py
  docs/layouts/docs_layout.py
  docs/pages/docs.py
  docs/pages/landing.py
  src/npm-tui/src/components/tui/heading.tsx
  src/npm-tui/src/globals.css
  src/npm-tui/src/lib/font.ts
  src/npm-tui/tailwind.config.js
Due: python-format, js-prettier

Add components docs page
  docs/app.py
  docs/pages/components.py
  docs/pages/landing.py
  src/python-tui/src/tui/components.py
Due: python-format

Add table component
  docs/layouts/docs_layout.py
  docs/pages/components.py
  docs/pages/landing.py
  src/npm-tui/src/components/any-component.tsx
  src/npm-tui/src/components/tui/table.tsx
  src/npm-tui/src/components/ui/table.tsx
  src/npm-tui/src/types.d.ts
  src/python-tui/src/tui/components.py
Due: python-format, js-prettier

Update component docs page
  docs/pages/components.py
  src/python-tui/src/tui/components.py
Due: python-format

Update classname
  docs/components/site_header.py
  docs/layouts/docs_layout.py
  docs/layouts/root_layout.py
  docs/pages/components.py
  docs/pages/docs.py
  docs/pages/landing.py
  src/python-tui/src/tui/components.py
  src/python-tui/tests/test_route.py
Due: python-format

Update version
  src/npm-tui/package.json
  src/python-tui/src/tui/init.py
Due: python-format, js-prettier

Fix catah all route
  docs/app.py
Due: python-format

Fix docs links
  docs/components/site_header.py
Due: python-format

Fix links
  docs/components/site_header.py
Due: python-format

Fix docs url
  docs/app.py
Due: python-format

Fix readme example
  README.md
Due: js-prettier

Add react-router
  docs/app.py
  src/npm-tui/package.json
  src/npm-tui/pnpm-lock.yaml
  src/npm-tui/src/App.tsx
  src/npm-tui/src/components/tui/any-component.tsx
  src/npm-tui/src/components/tui/container.tsx
  src/npm-tui/src/components/tui/link.tsx
  src/npm-tui/src/components/tui/outlet.tsx
  src/npm-tui/src/main.tsx
  src/npm-tui/src/router.tsx
  src/npm-tui/src/tui.tsx
  src/npm-tui/vite.config.ts
  src/python-tui/src/tui/components.py
  src/python-tui/src/tui/route.py
Due: python-format, js-prettier

Fix route
  docs/app.py
Due: python-format

Add route
  docs/app/__init__.py
  docs/app/docs/__init__.py
  docs/app/docs/layout.py
  docs/app/docs/page.py
  docs/app/layout.py
  docs/app/page.py
  docs/main.py
  docs_bak/__init__.py
  docs_bak/app.py
  docs_bak/components/__init__.py
  docs_bak/components/site_header.py
  docs_bak/layouts/__init__.py
  docs_bak/layouts/docs_layout.py
  docs_bak/layouts/root_layout.py
  docs_bak/pages/__init__.py
  docs_bak/pages/components.py
  docs_bak/pages/docs.py
  docs_bak/pages/landing.py
  src/npm-tui/src/router.tsx
  src/python-tui/pdm.lock
  src/python-tui/pyproject.toml
  src/python-tui/src/tui/route.py
  src/python-tui/src/tui/router.py
  src/python-tui/tests/test_route.py
  src/python-tui/tests/test_router.py
Due: python-format, js-prettier

Add router
  .gitignore
  Makefile
  docs/main.py
  src/npm-tui/src/router.tsx
  src/npm-tui/vite.config.ts
  src/python-tui/pdm.lock
  src/python-tui/pyproject.toml
  src/python-tui/src/tui/components.py
  src/python-tui/src/tui/layout.py
  src/python-tui/src/tui/route.py
  src/python-tui/src/tui/router.py
  src/python-tui/src/tui/routing.py
  src/python-tui/tests/conftest.py
  src/python-tui/tests/test_route.py
  src/python-tui/tests/test_router.py
  src/python-tui/tests/test_routing.py
Due: python-format, js-prettier

Add error page
  src/npm-tui/src/router.tsx
Due: js-prettier

Add server render
  docs/main.py
  src/npm-tui/cors_server.py
  src/npm-tui/tailwind.config.js
  src/python-tui/src/tui/__init__.py
  src/python-tui/src/tui/application.py
  src/python-tui/src/tui/components.py
  src/python-tui/src/tui/init.py
  src/python-tui/src/tui/layout.py
  src/python-tui/src/tui/render.py
  src/python-tui/src/tui/routing.py
Due: python-format, js-prettier

Add pre render html
  docs/app/docs/layout.py
  docs/app/docs/page.py
  docs/app/layout.py
  docs/app/page.py
  src/npm-tui/src/components/tui/any-component.tsx
  src/npm-tui/src/router.tsx
  src/python-tui/src/tui/render.py
  src/python-tui/src/tui/routing.py
Due: python-format, js-prettier
