Repository Chaoyingz/flect: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, js-prettier

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.3.0
      hooks:
          - id: check-yaml
          - id: check-toml
          - id: end-of-file-fixer
          - id: trailing-whitespace

    - repo: local
      hooks:
        - id: python-format
          name: python-format
          types_or: [python]
          entry: make format
          language: system
          pass_filenames: false

        - id: js-prettier
          name: js-prettier
          types_or: [ javascript, jsx, ts, tsx, css, json, markdown ]
          entry: npm run prettier
          language: system

Remove hot reload
  docs/Procfile
  docs/docs-ui/src/App.tsx
  docs/fly.toml
  docs/src/documentation/app/page.py
  src/npm-flect/src/application.tsx
  src/npm-flect/src/components/ui/dialog.tsx
  src/npm-flect/src/hooks/use-hot-reload.ts
  src/npm-flect/src/index.ts
  src/npm-flect/src/lib/actions.ts
  src/npm-flect/src/lib/utils.ts
  src/python-flect/src/flect/actions.py
  src/python-flect/src/flect/application.py
Due: python-format, js-prettier

Remove hot reload
  pnpm-lock.yaml
  src/npm-flect-prebuilt/src/App.tsx
  src/npm-flect/package.json
  src/python-flect/src/flect/application.py
Due: python-format, js-prettier

Add table component model field
  docs/src/documentation/app/group__docs/component.py
  docs/src/documentation/app/group__docs/components/dynamic__component_type/page.py
  src/npm-flect/src/components/flect/table.tsx
  src/python-flect/src/flect/components.py
  src/python-flect/src/flect/display.py
  src/python-flect/src/flect/form.py
  src/python-flect/src/flect/types.py
Due: python-format, js-prettier

Add display component
  docs/src/documentation/app/group__docs/component.py
  docs/src/documentation/app/group__docs/components/dynamic__component_type/page.py
  docs/src/documentation/app/group__docs/layout.py
  src/npm-flect/src/components/component-resolver.tsx
  src/npm-flect/src/components/flect/dialog.tsx
  src/npm-flect/src/components/flect/display.tsx
  src/npm-flect/src/components/flect/table.tsx
  src/npm-flect/src/hooks/use-dispatch-action-listen.ts
  src/npm-flect/src/types.d.ts
  src/python-flect/src/flect/components.py
  src/python-flect/src/flect/types.py
Due: python-format, js-prettier

Fix readme
  README.md
  README_CN.md
Due: js-prettier

Update readme
  README.md
  README_CN.md
Due: js-prettier

Bump version
  docs/docs-ui/package.json
  docs/src/documentation/main.py
  pnpm-lock.yaml
  pyproject.toml
  src/npm-flect-prebuilt/package.json
  src/npm-flect/package.json
  src/python-flect/src/flect/render.py
Due: python-format, js-prettier

Fix docs
  docs/src/documentation/app/page.py
Due: python-format

Add docs dockerfile
  docs/requirements-dev.lock
  docs/requirements.lock
Due: none

Add docs dockerfile
  docs/.gitignore
  docs/.python-version
  docs/Dockerfile
  docs/requirements-dev.lock
  docs/requirements.lock
Due: none

Fix table render
  docs/src/documentation/config.py
  src/python-flect/src/flect/components.py
Due: python-format

Bump version
  pyproject.toml
Due: none

Add base data grid component
  docs/docs-ui/package.json
  docs/pyproject.toml
  docs/requirements-dev.lock
  docs/requirements.lock
  docs/src/documentation/app/group__docs/actions/dynamic__action_type/page.py
  docs/src/documentation/app/group__docs/component.py
  docs/src/documentation/app/group__docs/components/dynamic__component_type/page.py
  docs/src/documentation/app/group__docs/layout.py
  pnpm-lock.yaml
  src/npm-flect-prebuilt/package.json
  src/npm-flect-prebuilt/vite.config.ts
  src/npm-flect/src/components/component-resolver.tsx
  src/npm-flect/src/components/flect/data-grid.tsx
  src/npm-flect/src/components/flect/form.tsx
  src/npm-flect/src/lib/ajv-resolver.ts
  src/npm-flect/src/lib/utils.ts
  src/npm-flect/src/types.d.ts
  src/python-flect/src/flect/__init__.py
  src/python-flect/src/flect/component/__init__.py
  src/python-flect/src/flect/component/components.py
  src/python-flect/src/flect/component/data_grid.py
  src/python-flect/src/flect/component/display.py
  src/python-flect/src/flect/component/form.py
  src/python-flect/src/flect/render.py
  src/python-flect/src/flect/response.py
  src/python-flect/src/flect/types.py
Due: python-format, js-prettier

Fix data grid error handle
  docs/src/documentation/app/group__docs/components/data-grid/__init__.py
  docs/src/documentation/app/group__docs/components/data-grid/route.py
  docs/src/documentation/app/group__docs/components/dynamic__component_type/page.py
  src/npm-flect/src/components/flect/data-grid.tsx
  src/npm-flect/src/components/flect/form.tsx
  src/npm-flect/src/lib/ajv-resolver.ts
  src/npm-flect/src/lib/utils.ts
Due: python-format, js-prettier

Fix form control
  docs/src/documentation/app/group__docs/components/dynamic__component_type/page.py
  pnpm-lock.yaml
  src/npm-flect/package.json
  src/npm-flect/src/application.tsx
  src/npm-flect/src/components/flect/data-grid.tsx
  src/npm-flect/src/components/flect/form.tsx
  src/npm-flect/src/components/ui/tooltip.tsx
  src/npm-flect/tailwind.config.js
  src/python-flect/src/flect/component/data_grid.py
Due: python-format, js-prettier

Fix data grid slot style
  src/npm-flect/src/components/flect/data-grid.tsx
Due: js-prettier

Add data grid component
  docs/src/documentation/app/group__docs/components/dynamic__component_type/page.py
  pnpm-lock.yaml
  src/npm-flect/package.json
  src/npm-flect/src/components/flect/data-grid.tsx
  src/npm-flect/src/components/ui/command.tsx
  src/npm-flect/src/components/ui/popover.tsx
  src/python-flect/src/flect/component/data_grid.py
Due: python-format, js-prettier

Fix module export
  src/python-flect/src/flect/component/data_grid.py
Due: python-format

Bump version
  docs/docs-ui/package.json
  docs/src/documentation/main.py
  pyproject.toml
  src/npm-flect-prebuilt/package.json
  src/npm-flect/package.json
  src/npm-flect/src/lib/ajv-resolver.ts
  src/python-flect/src/flect/component/data_grid.py
  src/python-flect/src/flect/component/form.py
  src/python-flect/src/flect/render.py
Due: python-format, js-prettier

Add deferred fetch component
  docs/docs-ui/vite.config.ts
  docs/requirements-dev.lock
  docs/requirements.lock
  docs/src/documentation/app/group__docs/components/data_grid/__init__.py
  docs/src/documentation/app/group__docs/components/data_grid/route.py
  docs/src/documentation/app/group__docs/components/deferred_fetch/__init__.py
  docs/src/documentation/app/group__docs/components/deferred_fetch/route.py
  docs/src/documentation/app/group__docs/components/dynamic__component_type/page.py
  docs/src/documentation/app/group__docs/layout.py
  src/npm-flect/src/components/component-resolver.tsx
  src/npm-flect/src/components/flect/deferred-fetch.tsx
  src/npm-flect/src/lib/actions.ts
  src/npm-flect/src/types.d.ts
  src/python-flect/src/flect/component/components.py
Due: python-format, js-prettier

Refactor routing
  docs/src/documentation/app/group__docs/actions/dynamic__action_type/page.py
  docs/src/documentation/app/group__docs/components/dynamic__component_type/page.py
  docs/src/documentation/app/group__docs/docs/dynamic__content_name/page.py
  docs/src/documentation/app/group__docs/learn/dynamic__content_name/page.py
  src/npm-flect/src/components/flect/deferred-fetch.tsx
  src/npm-flect/src/components/routing.tsx
  src/python-flect/src/flect/application.py
  src/python-flect/src/flect/constants.py
  src/python-flect/src/flect/render.py
  src/python-flect/src/flect/routing.py
  src/python-flect/src/flect/routing/__init__.py
  src/python-flect/src/flect/routing/client.py
  src/python-flect/src/flect/routing/server.py
  src/python-flect/src/flect/sitemap.py
  src/python-flect/src/flect/utils.py
  src/python-flect/tests/app/segment1/dynamic__segment_id/route.py
  src/python-flect/tests/app/segment1/group__segment2/segment3/route.py
  src/python-flect/tests/app/segment1/segment2/route.py
  src/python-flect/tests/conftest.py
  src/python-flect/tests/test_render.py
  src/python-flect/tests/test_routing.py
  src/python-flect/tests/test_routing/__init__.py
  src/python-flect/tests/test_routing/test_client.py
  src/python-flect/tests/test_routing/test_server.py
  src/python-flect/tests/test_utils.py
Due: python-format, js-prettier

Fix server render
  docs/src/documentation/main.py
  src/npm-flect-prebuilt/package.json
  src/npm-flect/package.json
  src/npm-flect/src/components/flect/deferred-fetch.tsx
  src/npm-flect/src/components/routing.tsx
  src/npm-flect/vite.config.ts.timestamp-1711543857706-78e5f487ee83b.mjs
  src/python-flect/src/flect/render.py
  src/python-flect/src/flect/routing/client.py
  src/python-flect/src/flect/routing/server.py
  src/python-flect/tests/conftest.py
  src/python-flect/tests/test_routing/test_client.py
  src/python-flect/tests/test_routing/test_server.py
Due: python-format, js-prettier

Remove unused file
  src/npm-flect/vite.config.ts.timestamp-1711543857706-78e5f487ee83b.mjs
Due: js-prettier

Bump version
  docs/docs-ui/package.json
  docs/src/documentation/main.py
  pyproject.toml
  src/npm-flect-prebuilt/package.json
  src/npm-flect/package.json
  src/npm-flect/src/components/flect/deferred-fetch.tsx
  src/python-flect/src/flect/render.py
Due: python-format, js-prettier

Fix tests
  docs/pyproject.toml
  src/python-flect/tests/test_routing/test_client.py
Due: python-format

Fix test client order
  src/python-flect/tests/test_routing/test_client.py
Due: python-format

Fix tests
  src/python-flect/tests/test_routing/test_client.py
Due: python-format

Add client route sort
  src/python-flect/src/flect/routing/client.py
  src/python-flect/src/flect/routing/server.py
  src/python-flect/src/flect/routing/sort.py
  src/python-flect/tests/conftest.py
  src/python-flect/tests/test_routing/test_client.py
  src/python-flect/tests/test_routing/test_server.py
  src/python-flect/tests/test_routing/test_sort.py
Due: python-format

Fix routing sort
  src/python-flect/src/flect/routing/client.py
  src/python-flect/src/flect/routing/sort.py
  src/python-flect/tests/test_routing/test_client.py
  src/python-flect/tests/test_routing/test_sort.py
Due: python-format

Add dialog default open option
  src/npm-flect/src/components/flect/dialog.tsx
  src/python-flect/src/flect/component/components.py
Due: python-format, js-prettier

Bump version
  README.md
  README_CN.md
  docs/docs-ui/package.json
  docs/src/documentation/app/group__docs/component.py
  docs/src/documentation/app/group__docs/components/dynamic__component_type/page.py
  docs/src/documentation/content/introduction.md
  docs/src/documentation/main.py
  pyproject.toml
  src/npm-flect-prebuilt/package.json
  src/npm-flect/package.json
  src/python-flect/src/flect/render.py
Due: python-format, js-prettier

Update docs version
  docs/pyproject.toml
  docs/requirements-dev.lock
  docs/requirements.lock
Due: none

Add event name min-length limit
  src/python-flect/src/flect/actions.py
Due: python-format
