Repository Chaoyingz/flect: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, js-prettier

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.3.0
      hooks:
          - id: check-yaml
          - id: check-toml
          - id: end-of-file-fixer
          - id: trailing-whitespace

    - repo: local
      hooks:
        - id: python-format
          name: python-format
          types_or: [python]
          entry: make format
          language: system
          pass_filenames: false

        - id: js-prettier
          name: js-prettier
          types_or: [ javascript, jsx, ts, tsx, css, json, markdown ]
          entry: npm run prettier
          language: system

Add html head
  docs/src/documentation/app/group__docs/actions/dynamic__action_type/page.py
  docs/src/documentation/app/group__docs/components/dynamic__component_type/page.py
  docs/src/documentation/app/group__docs/docs/dynamic__content_name/page.py
  docs/src/documentation/app/group__docs/layout.py
  docs/src/documentation/app/group__docs/learn/dynamic__content_name/page.py
  docs/src/documentation/app/layout.py
  src/python-flect/src/flect/__init__.py
  src/python-flect/src/flect/head.py
  src/python-flect/src/flect/render.py
  src/python-flect/src/flect/response.py
  src/python-flect/src/flect/routing.py
Due: python-format

Rename page response element to body
  README.md
  README_CN.md
  docs/src/documentation/app/group__docs/actions/dynamic__action_type/page.py
  docs/src/documentation/app/group__docs/components/dynamic__component_type/page.py
  docs/src/documentation/app/group__docs/docs/dynamic__content_name/page.py
  docs/src/documentation/app/group__docs/layout.py
  docs/src/documentation/app/group__docs/learn/dynamic__content_name/page.py
  docs/src/documentation/app/layout.py
  docs/src/documentation/app/page.py
  docs/src/documentation/content/form.md
  docs/src/documentation/content/routing.md
  docs/src/documentation/content/tutorial.md
  examples/todo/src/todo/app/layout.py
  examples/todo/src/todo/app/page.py
  src/npm-flect/src/routing.tsx
  src/python-flect/src/flect/render.py
  src/python-flect/src/flect/response.py
  src/python-flect/tests/test_render.py
Due: python-format, js-prettier

Fix group route server render
  src/python-flect/src/flect/constants.py
  src/python-flect/src/flect/render.py
  src/python-flect/src/flect/routing.py
  src/python-flect/tests/test_render.py
Due: python-format

Optimize render code
  Makefile
  src/python-flect/src/flect/render.py
  src/python-flect/tests/test_render.py
Due: python-format

Fix server side render
  src/python-flect/src/flect/application.py
  src/python-flect/src/flect/render.py
  src/python-flect/src/flect/routing.py
  src/python-flect/tests/app/__init__.py
  src/python-flect/tests/app/layout.py
  src/python-flect/tests/app/page.py
  src/python-flect/tests/app/segment1/__init__.py
  src/python-flect/tests/app/segment1/dynamic__segment_id/__init__.py
  src/python-flect/tests/app/segment1/dynamic__segment_id/page.py
  src/python-flect/tests/app/segment1/group__segment2/__init__.py
  src/python-flect/tests/app/segment1/group__segment2/layout.py
  src/python-flect/tests/app/segment1/group__segment2/segment3/__init__.py
  src/python-flect/tests/app/segment1/group__segment2/segment3/page.py
  src/python-flect/tests/app/segment1/layout.py
  src/python-flect/tests/app/segment1/page.py
  src/python-flect/tests/app/segment1/segment2/__init__.py
  src/python-flect/tests/app/segment1/segment2/page.py
  src/python-flect/tests/app/segment1/segment2/route.py
  src/python-flect/tests/app/utils.py
  src/python-flect/tests/conftest.py
  src/python-flect/tests/test_render.py
  src/python-flect/tests/test_routing.py
Due: python-format

Add docs setting
  docs/.python-version
  docs/pyproject.toml
  docs/requirements-dev.lock
  docs/requirements.lock
  docs/requirements.txt
  docs/src/documentation/app/layout.py
  docs/src/documentation/config.py
  docs/src/documentation/main.py
  src/python-flect/src/flect/head.py
Due: python-format

Add markdown link syntax for paragraph component
  docs/src/documentation/app/group__docs/components/dynamic__component_type/page.py
  docs/src/documentation/app/group__docs/layout.py
  docs/src/documentation/app/layout.py
  docs/src/documentation/config.py
  docs/src/documentation/main.py
  src/npm-flect/src/components/flect/paragraph.tsx
  src/python-flect/src/flect/application.py
  src/python-flect/src/flect/components.py
Due: python-format, js-prettier

Add head test
  pyproject.toml
  src/python-flect/tests/test_head.py
Due: python-format

Bump version
  pyproject.toml
  src/npm-flect/package.json
Due: js-prettier

Fix hot reload
  src/python-flect/src/flect/application.py
Due: python-format

Fix typo
  docs/src/documentation/content/routing.md
Due: js-prettier

Add support for custom component
  README.md
  README_CN.md
  docs/src/documentation/app/group__docs/layout.py
  docs/src/documentation/app/group__docs/learn/dynamic__content_name/page.py
  docs/src/documentation/config.py
  docs/src/documentation/content/custom-component.md
  pnpm-lock.yaml
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  src/npm-flect/package-lock.json
  src/npm-flect/package.json
  src/npm-flect/src/components/flect/any-component.tsx
  src/npm-flect/src/components/flect/code-block-lazy.tsx
  src/npm-flect/src/components/flect/custom.tsx
  src/python-flect/src/flect/application.py
  src/python-flect/src/flect/components.py
  src/python-flect/src/flect/constants.py
Due: python-format, js-prettier

Add component resolver
  docs/docs-ui/.eslintrc.cjs
  docs/docs-ui/.gitignore
  docs/docs-ui/README.md
  docs/docs-ui/index.html
  docs/docs-ui/package.json
  docs/docs-ui/public/vite.svg
  docs/docs-ui/src/App.css
  docs/docs-ui/src/App.tsx
  docs/docs-ui/src/assets/react.svg
  docs/docs-ui/src/index.css
  docs/docs-ui/src/main.tsx
  docs/docs-ui/src/vite-env.d.ts
  docs/docs-ui/tsconfig.json
  docs/docs-ui/tsconfig.node.json
  docs/docs-ui/vite.config.ts
  docs/src/documentation/content/custom-component.md
  pnpm-lock.yaml
  src/npm-flect-prebuilt/src/App.tsx
  src/npm-flect-prebuilt/src/components/code-block-lazy.tsx
  src/npm-flect-prebuilt/src/components/code-block.tsx
  src/npm-flect/package.json
  src/npm-flect/src/application.tsx
  src/npm-flect/src/components/flect/any-component.tsx
  src/npm-flect/src/components/flect/button.tsx
  src/npm-flect/src/components/flect/code-block.tsx
  src/npm-flect/src/components/flect/container.tsx
  src/npm-flect/src/components/flect/custom.tsx
  src/npm-flect/src/components/flect/link.tsx
  src/npm-flect/src/hooks/use-hot-reload.ts
  src/npm-flect/src/index.ts
  src/npm-flect/src/lib/action.ts
  src/npm-flect/src/resolver.tsx
  src/npm-flect/src/routing.tsx
  src/npm-flect/src/types.d.ts
  src/python-flect/src/flect/actions.py
  src/python-flect/src/flect/application.py
  src/python-flect/src/flect/components.py
Due: python-format, js-prettier

Add react component resolver
  src/npm-flect/src/components/flect/avatar.tsx
  src/npm-flect/src/components/flect/button.tsx
  src/npm-flect/src/components/flect/code-block.tsx
  src/npm-flect/src/components/flect/container.tsx
  src/npm-flect/src/components/flect/copy-button.tsx
  src/npm-flect/src/components/flect/custom.tsx
  src/npm-flect/src/components/flect/form-lazy.tsx
  src/npm-flect/src/components/flect/heading.tsx
  src/npm-flect/src/components/flect/link.tsx
  src/npm-flect/src/components/flect/markdown-lazy.tsx
  src/npm-flect/src/components/flect/nav-link.tsx
  src/npm-flect/src/components/flect/outlet.tsx
  src/npm-flect/src/components/flect/paragraph.tsx
  src/npm-flect/src/components/flect/table.tsx
  src/npm-flect/src/components/flect/text.tsx
  src/npm-flect/src/resolver.tsx
Due: js-prettier

Optimize AnyComponent
  src/npm-flect/src/components/flect/any-component.tsx
  src/npm-flect/src/resolver.tsx
  src/npm-flect/src/routing.tsx
Due: js-prettier

Optimize directory structure
  src/npm-flect/src/application.tsx
  src/npm-flect/src/components/flect/any-component.tsx
  src/npm-flect/src/components/resolver/component-resolver.tsx
  src/npm-flect/src/components/routing.tsx
  src/npm-flect/src/index.ts
Due: js-prettier

Refactor npm-flect code structure
  docs/src/documentation/app/group__docs/components/dynamic__component_type/page.py
  src/npm-flect-prebuilt/src/App.tsx
  src/npm-flect/src/components/action-resolver.tsx
  src/npm-flect/src/components/component-resolver.tsx
  src/npm-flect/src/components/flect/any-component.tsx
  src/npm-flect/src/components/flect/button.tsx
  src/npm-flect/src/components/flect/container.tsx
  src/npm-flect/src/components/flect/form-lazy.tsx
  src/npm-flect/src/components/flect/link.tsx
  src/npm-flect/src/components/index.ts
  src/npm-flect/src/components/routing.tsx
  src/npm-flect/src/contexts/action-resolver.tsx
  src/npm-flect/src/contexts/component-resolver.tsx
  src/npm-flect/src/hooks/use-action.ts
  src/npm-flect/src/index.ts
  src/npm-flect/src/lib/action.ts
  src/npm-flect/src/lib/actions.ts
  src/npm-flect/src/lib/ajv-resolver.ts
  src/npm-flect/src/types.d.ts
  src/python-flect/src/flect/form.py
  src/python-flect/src/flect/routing.py
Due: python-format, js-prettier

Add subpackage handling to npm-flect
  src/npm-flect-prebuilt/app/globals.css
  src/npm-flect-prebuilt/src/App.tsx
  src/npm-flect-prebuilt/src/components/code-block-lazy.tsx
  src/npm-flect-prebuilt/src/components/code-block.tsx
  src/npm-flect/package.json
  src/npm-flect/src/index.ts
  src/npm-flect/vite.config.ts
Due: js-prettier

Add tsconfig reuse
  src/npm-flect-prebuilt/tsconfig.json
  src/npm-flect/tsconfig.json
  tsconfig.json
Due: js-prettier

Add hot reload activation check to npm-flect
  pnpm-lock.yaml
  src/npm-flect-prebuilt/package.json
  src/npm-flect/src/hooks/use-hot-reload.ts
  src/python-flect/src/flect/application.py
Due: python-format, js-prettier

Fix custom component render
  docs/docs-ui/.eslintrc.cjs
  docs/docs-ui/.prettierrc
  docs/docs-ui/README.md
  docs/docs-ui/components.json
  docs/docs-ui/package.json
  docs/docs-ui/pnpm-lock.yaml
  docs/docs-ui/postcss.config.js
  docs/docs-ui/src/App.css
  docs/docs-ui/src/App.tsx
  docs/docs-ui/src/assets/react.svg
  docs/docs-ui/src/component-resolver.tsx
  docs/docs-ui/src/components/badge.tsx
  docs/docs-ui/src/globals.css
  docs/docs-ui/src/index.css
  docs/docs-ui/src/lib/utils.ts
  docs/docs-ui/src/main.tsx
  docs/docs-ui/tailwind.config.js
  docs/docs-ui/tsconfig.json
  docs/docs-ui/vite.config.ts
  docs/src/documentation/app/page.py
  docs/src/documentation/components.py
  docs/src/documentation/content/custom-component.md
  docs/src/documentation/main.py
  src/npm-flect-prebuilt/package.json
  src/npm-flect/package.json
  src/npm-flect/src/components/flect/any-component.tsx
  src/npm-flect/src/contexts/component-resolver.tsx
Due: python-format, js-prettier

Update custom component docs
  docs/docs-ui/src/components/markdown-lazy.tsx
  docs/docs-ui/src/components/markdown.tsx
  docs/src/documentation/content/custom-component.md
Due: js-prettier

Add docs custom component
  docs/docs-ui/package.json
  docs/docs-ui/pnpm-lock.yaml
  docs/docs-ui/src/component-resolver.tsx
  docs/docs-ui/src/components/badge.tsx
  docs/docs-ui/src/components/code-block-lazy.tsx
  docs/docs-ui/src/components/code-block.tsx
  docs/docs-ui/src/components/markdown-lazy.tsx
  docs/docs-ui/src/components/markdown.tsx
  docs/src/documentation/app/group__docs/docs/dynamic__content_name/page.py
  docs/src/documentation/app/group__docs/learn/dynamic__content_name/page.py
  docs/src/documentation/app/page.py
  docs/src/documentation/components.py
  docs/src/documentation/content/custom-component.md
  docs/src/documentation/content/tutorial.md
  docs/src/documentation/main.py
  pnpm-lock.yaml
  src/npm-flect-prebuilt/package.json
  src/npm-flect/index.html
  src/npm-flect/package.json
  src/npm-flect/src/components/flect/any-component.tsx
  src/npm-flect/src/contexts/component-resolver.tsx
  src/python-flect/src/flect/render.py
Due: python-format, js-prettier

Fix docs prebuilt_uri
  .pre-commit-config.yaml
  docs/docs-ui/pnpm-lock.yaml
  docs/src/documentation/main.py
  package.json
  pnpm-lock.yaml
  src/npm-flect/.eslintrc.cjs
  src/npm-flect/README.md
  src/npm-flect/pnpm-lock.yaml
  src/npm-flect/postcss.config.js
  src/npm-flect/src/components/flect/form.tsx
  src/npm-flect/src/components/flect/link.types.ts
  src/npm-flect/src/components/flect/markdown.tsx
  src/npm-flect/src/components/ui/avatar.tsx
  src/npm-flect/src/components/ui/button.tsx
  src/npm-flect/src/components/ui/checkbox.tsx
  src/npm-flect/src/components/ui/form.tsx
  src/npm-flect/src/components/ui/input.tsx
  src/npm-flect/src/components/ui/label.tsx
  src/npm-flect/src/components/ui/select.tsx
  src/npm-flect/src/components/ui/table.tsx
  src/npm-flect/src/components/ui/textarea.tsx
  src/npm-flect/src/globals.css
  src/npm-flect/src/hooks/use-hot-reload.ts
  src/npm-flect/src/lib/utils.ts
Due: python-format, js-prettier

Fix action
  docs/src/documentation/main.py
  pnpm-lock.yaml
  src/npm-flect/src/components/flect/button.tsx
  src/npm-flect/src/hooks/use-action.ts
  src/npm-flect/vite.config.ts.timestamp-1710642126157-cdb28cb61056a.mjs
Due: python-format, js-prettier

Fix docs width
  docs/docs-ui/package.json
  docs/docs-ui/pnpm-lock.yaml
  docs/docs-ui/src/components/code-block-lazy.tsx
  src/npm-flect/vite.config.ts.timestamp-1710642126157-cdb28cb61056a.mjs
Due: js-prettier

Add docs
  docs/docs-ui/package.json
  docs/docs-ui/pnpm-lock.yaml
  docs/src/documentation/app/group__docs/layout.py
  docs/src/documentation/app/group__docs/learn/dynamic__content_name/page.py
  docs/src/documentation/content/routing.md
  docs/src/documentation/content/sitemap.md
  docs/src/documentation/content/tailwindcss.md
  docs/src/documentation/main.py
  pnpm-lock.yaml
  pyproject.toml
  src/npm-flect-prebuilt/package.json
  src/npm-flect/package.json
  src/npm-flect/src/components/routing.tsx
  src/python-flect/src/flect/render.py
Due: python-format, js-prettier

Fix routing docs
  docs/src/documentation/content/routing.md
Due: js-prettier

Fix project structure docs
  docs/src/documentation/content/project-structure.md
Due: js-prettier

Update docs ui version
  docs/docs-ui/package.json
  docs/docs-ui/src/components/code-block-lazy.tsx
  docs/docs-ui/src/components/code-block.tsx
  docs/docs-ui/src/components/markdown-lazy.tsx
  docs/docs-ui/src/components/markdown.tsx
  docs/src/documentation/main.py
  pnpm-lock.yaml
Due: python-format, js-prettier

Update docs ui version
  docs/docs-ui/package.json
  docs/docs-ui/src/components/code-block-lazy.tsx
  docs/docs-ui/src/components/code-block.tsx
  docs/docs-ui/src/components/markdown-lazy.tsx
  docs/docs-ui/src/components/markdown.tsx
  docs/docs-ui/vite.config.ts
  docs/src/documentation/main.py
  src/npm-flect/package.json
Due: python-format, js-prettier

Fix assets path
  docs/docs-ui/vite.config.ts
  docs/src/documentation/main.py
  src/npm-flect-prebuilt/package.json
  src/npm-flect-prebuilt/vite.config.ts
Due: python-format, js-prettier

Remove dynamic component import
  docs/docs-ui/package.json
  docs/docs-ui/pnpm-lock.yaml
  docs/docs-ui/src/components/code-block-lazy.tsx
  docs/docs-ui/src/components/code-block.tsx
  docs/docs-ui/src/components/markdown-lazy.tsx
  docs/docs-ui/src/components/markdown.tsx
  docs/docs-ui/vite.config.ts
  docs/src/documentation/app/group__docs/actions/dynamic__action_type/page.py
  docs/src/documentation/main.py
  pnpm-lock.yaml
  pyproject.toml
  src/npm-flect-prebuilt/package.json
  src/npm-flect-prebuilt/vite.config.ts
  src/npm-flect/package.json
  src/npm-flect/src/components/flect/form-lazy.tsx
  src/npm-flect/src/components/flect/form.tsx
  src/npm-flect/src/components/flect/markdown-lazy.tsx
  src/npm-flect/src/components/flect/markdown.tsx
  src/python-flect/src/flect/render.py
Due: python-format, js-prettier

Update docs version
  docs/docs-ui/package.json
  docs/docs-ui/pnpm-lock.yaml
  docs/docs-ui/vite.config.ts
  docs/src/documentation/main.py
Due: python-format, js-prettier

Add primary color to safelist
  src/npm-flect-prebuilt/tailwind.config.js
Due: js-prettier

Update redirect action field name
  docs/src/documentation/app/group__docs/actions/dynamic__action_type/page.py
  src/npm-flect-prebuilt/tailwind.config.js
  src/python-flect/src/flect/actions.py
  src/python-flect/tests/app/segment1/segment2/route.py
Due: python-format, js-prettier

Add dialog component
  docs/src/documentation/app/group__docs/actions/dynamic__action_type/page.py
  docs/src/documentation/app/group__docs/components/dynamic__component_type/page.py
  docs/src/documentation/app/group__docs/layout.py
  pnpm-lock.yaml
  src/npm-flect/package.json
  src/npm-flect/src/components/action-resolver.tsx
  src/npm-flect/src/components/component-resolver.tsx
  src/npm-flect/src/components/flect/dialog.tsx
  src/npm-flect/src/components/ui/dialog.tsx
  src/npm-flect/src/hooks/use-dispatch-action-listen.ts
  src/npm-flect/src/lib/actions.ts
  src/npm-flect/src/types.d.ts
  src/python-flect/src/flect/actions.py
  src/python-flect/src/flect/components.py
Due: python-format, js-prettier

Add app config
  docs/.dockerignore
  docs/Procfile
  docs/docs-ui/src/App.tsx
  docs/fly.toml
Due: js-prettier

Add app config
  src/npm-flect/src/contexts/config.tsx
  src/python-flect/src/flect/config.py
Due: python-format, js-prettier
