Repository Chaoyingz/flect: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, js-prettier

python-format:
  name: python-format
  entry: make format
  language: system
  pass_filenames: false

js-prettier:
  name: js-prettier
  entry: npm run prettier
  language: system

Add component docs
  docs/src/documentation/app/group__docs/components/dynamic__component_type/page.py
  docs/src/documentation/app/group__docs/layout.py
  src/python-tui/src/tui/components.py
Due: python-format

Update version
  pyproject.toml
  src/npm-tui/package.json
Due: js-prettier

Add docs sitemap
  docs/src/documentation/app/group__docs/docs/dynamic__content_name/page.py
  docs/src/documentation/app/group__docs/learn/dynamic__content_name/page.py
Due: python-format

Remove cookiecutter
  docs/src/documentation/content/installation.md
  src/python-tui/src/cookiecutter-tui/cookiecutter.json
  src/python-tui/src/cookiecutter-tui/{{cookiecutter.project_slug}}/.python-version
  src/python-tui/src/cookiecutter-tui/{{cookiecutter.project_slug}}/README.md
  src/python-tui/src/cookiecutter-tui/{{cookiecutter.project_slug}}/pyproject.toml
  src/python-tui/src/cookiecutter-tui/{{cookiecutter.project_slug}}/src/main.py
  src/python-tui/src/cookiecutter-tui/{{cookiecutter.project_slug}}/src/{{cookiecutter.project_slug}}/__init__.py
  src/python-tui/src/cookiecutter-tui/{{cookiecutter.project_slug}}/src/{{cookiecutter.project_slug}}/app/__init__.py
  src/python-tui/src/cookiecutter-tui/{{cookiecutter.project_slug}}/src/{{cookiecutter.project_slug}}/app/layout.py
  src/python-tui/src/cookiecutter-tui/{{cookiecutter.project_slug}}/src/{{cookiecutter.project_slug}}/app/page.py
Due: python-format, js-prettier

Add hot reload
  Makefile
  src/npm-tui/src/App.tsx
  src/npm-tui/src/application.tsx
  src/npm-tui/src/main.tsx
  src/python-tui/src/tui/application.py
Due: python-format, js-prettier

Add with_file method to Markdown component
  docs/src/documentation/app/group__docs/docs/dynamic__content_name/page.py
  docs/src/documentation/app/group__docs/layout.py
  docs/src/documentation/app/group__docs/learn/dynamic__content_name/page.py
  docs/src/documentation/app/layout.py
  docs/src/documentation/content/introduction.md
  docs/src/documentation/utils.py
  src/npm-flect/tailwind.config.js
  src/python-flect/src/flect/components.py
Due: python-format, js-prettier

Fix dev reload
  src/python-flect/src/flect/application.py
Due: python-format

Add docs pager
  docs/src/documentation/app/group__docs/components/dynamic__component_type/page.py
  docs/src/documentation/app/group__docs/docs/dynamic__content_name/page.py
  docs/src/documentation/app/group__docs/layout.py
  docs/src/documentation/app/group__docs/learn/dynamic__content_name/page.py
Due: python-format

Add layout tutorial
  README.md
  README_CN.md
  docs/src/documentation/app/group__docs/docs/dynamic__content_name/page.py
  docs/src/documentation/app/group__docs/layout.py
  docs/src/documentation/content/installation.md
  docs/src/documentation/content/tutorial.md
  examples/todo/.gitignore
  examples/todo/.python-version
  examples/todo/Makefile
  examples/todo/README.md
  examples/todo/pyproject.toml
  examples/todo/requirements-dev.lock
  examples/todo/requirements.lock
  examples/todo/src/todo/__init__.py
  examples/todo/src/todo/app/__init__.py
  examples/todo/src/todo/app/layout.py
  examples/todo/src/todo/app/page.py
  examples/todo/src/todo/main.py
Due: python-format, js-prettier

Update readme
  README.md
  README_CN.md
Due: js-prettier

Update version
  pyproject.toml
  src/npm-flect/package.json
Due: js-prettier

Update npm dependencies
  package.json
  pnpm-lock.yaml
  src/npm-flect/package.json
Due: js-prettier

Add docs
  README.md
  README_CN.md
  docs/src/documentation/content/introduction.md
Due: js-prettier

Add tutorial
  examples/todo/.gitignore
  examples/todo/requirements-dev.lock
  examples/todo/requirements.lock
  examples/todo/src/todo/app/layout.py
  examples/todo/src/todo/app/page.py
  examples/todo/src/todo/app/route.py
  examples/todo/src/todo/storage.py
Due: python-format

Add tutorial
  docs/src/documentation/content/tutorial.md
Due: js-prettier

Update readme
  README.md
  README_CN.md
  docs/src/documentation/content/introduction.md
Due: js-prettier

Fix table label index
  src/python-flect/src/flect/components.py
Due: python-format

Update readme
  README.md
Due: js-prettier

Add link props
  docs/src/documentation/app/layout.py
  src/npm-flect/src/components/flect/link.tsx
  src/npm-flect/src/components/flect/link.types.ts
  src/npm-flect/src/components/flect/nav-link.tsx
  src/python-flect/src/flect/components.py
Due: python-format, js-prettier

Fix button component children
  src/npm-flect/src/components/flect/button.tsx
  src/python-flect/src/flect/components.py
Due: python-format, js-prettier

Fix component docs
  docs/src/documentation/app/group__docs/components/dynamic__component_type/page.py
  docs/src/documentation/app/group__docs/layout.py
  docs/src/documentation/app/page.py
  src/python-flect/tests/test_render.py
Due: python-format

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: js-prettier

Fix format
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/actions/setup-npm/action.yaml
  .github/actions/setup-python/action.yaml
  .github/dependabot.yml
  .github/workflows/release.yaml
  pnpm-lock.yaml
Due: js-prettier

Fix import
  README.md
  README_CN.md
  src/npm-flect/tailwind.config.js
  src/python-flect/src/flect/__init__.py
Due: python-format, js-prettier

Add submit text for form component
  src/npm-flect/src/components/flect/form-lazy.tsx
  src/python-flect/src/flect/components.py
Due: python-format, js-prettier

Bump version
  pyproject.toml
  src/npm-flect/package.json
Due: js-prettier

Add docs config
  docs/.gitignore
  docs/vercel.json
Due: js-prettier

Fix incorrect usage of Pydantic field default value
  pyproject.toml
  src/npm-flect/package.json
  src/python-flect/src/flect/actions.py
  src/python-flect/src/flect/components.py
  src/python-flect/src/flect/response.py
  src/python-flect/src/flect/routing.py
  src/python-flect/src/flect/sitemap.py
Due: python-format, js-prettier

Simplify form field usage
  README.md
  README_CN.md
  docs/src/documentation/app/group__docs/components/dynamic__component_type/page.py
  docs/src/documentation/content/form.md
  docs/src/documentation/content/tutorial.md
  examples/todo/src/todo/app/page.py
  src/python-flect/src/flect/form.py
Due: python-format, js-prettier

Fix typing
  .python-version
  requirements-dev.lock
  requirements.lock
  src/python-flect/src/flect/form.py
Due: python-format

Fix lifespan params duplicate
  src/python-flect/src/flect/application.py
Due: python-format

Add redirect action
  docs/src/documentation/app/group__docs/actions/__init__.py
  docs/src/documentation/app/group__docs/actions/dynamic__action_type/__init__.py
  docs/src/documentation/app/group__docs/actions/dynamic__action_type/page.py
  docs/src/documentation/app/group__docs/component.py
  docs/src/documentation/app/group__docs/components/dynamic__component_type/page.py
  docs/src/documentation/app/group__docs/layout.py
  pyproject.toml
  src/npm-flect/package.json
  src/npm-flect/src/components/flect/button.tsx
  src/npm-flect/src/lib/action.ts
  src/python-flect/src/flect/actions.py
  src/python-flect/src/flect/components.py
Due: python-format, js-prettier

Path conditions:
  python-format: any of: \.py$
  js-prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
