Repository Chaoyingz/flect: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, js-prettier

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.3.0
      hooks:
          - id: check-yaml
          - id: check-toml
          - id: end-of-file-fixer
          - id: trailing-whitespace

    - repo: local
      hooks:
        - id: python-format
          name: python-format
          types_or: [python]
          entry: make format
          language: system
          pass_filenames: false

        - id: js-prettier
          name: js-prettier
          types_or: [ javascript, jsx, ts, tsx, css, json, markdown ]
          entry: npm run prettier
          language: system

Update version
  pyproject.toml
  src/npm-tui/package.json
  src/python-tui/src/tui/__init__.py
  src/python-tui/src/tui/render.py
  src/python-tui/src/tui/version.py
Due: python-format, js-prettier

Update docs vercel config
  docs/vercel.json
Due: js-prettier

Add nav-link component
  docs/src/documentation/app/docs/layout.py
  src/npm-tui/src/components/tui/any-component.tsx
  src/npm-tui/src/components/tui/nav-link.tsx
  src/python-tui/src/tui/components.py
Due: python-format, js-prettier

Fix build and gitignore conflict
  pyproject.toml
Due: none

Add support for route group
  docs/src/documentation/app/group__docs/__init__.py
  docs/src/documentation/app/group__docs/components/__init__.py
  docs/src/documentation/app/group__docs/components/dynamic__component_type/__init__.py
  docs/src/documentation/app/group__docs/components/dynamic__component_type/page.py
  docs/src/documentation/app/group__docs/components/form/__init__.py
  docs/src/documentation/app/group__docs/components/form/route.py
  docs/src/documentation/app/group__docs/docs/__init__.py
  docs/src/documentation/app/group__docs/docs/page.py
  docs/src/documentation/app/group__docs/layout.py
  docs/src/documentation/app/layout.py
  src/npm-tui/package.json
  src/npm-tui/src/routing.tsx
  src/python-tui/src/tui/routing.py
  src/python-tui/src/tui/version.py
Due: python-format, js-prettier

Update vercel config
  docs/vercel.json
Due: js-prettier

Add sitemap
  docs/src/documentation/app/group__docs/components/dynamic__component_type/page.py
  src/npm-tui/package.json
  src/python-tui/src/tui/routing.py
  src/python-tui/src/tui/sitemap.py
  src/python-tui/src/tui/version.py
  src/python-tui/tests/conftest.py
  src/python-tui/tests/test_routing.py
  src/python-tui/tests/test_sitemap.py
Due: python-format, js-prettier

Add form submit button loading
  docs/src/documentation/app/group__docs/components/form/route.py
  src/npm-tui/package.json
  src/npm-tui/pnpm-lock.yaml
  src/npm-tui/src/components/tui/form.tsx
  src/npm-tui/src/routing.tsx
Due: python-format, js-prettier

Update readme
  README.md
  README_CN.md
  docs/src/documentation/app/group__docs/layout.py
  docs/src/documentation/app/layout.py
  pyproject.toml
Due: python-format, js-prettier

Add project classifiers
  pyproject.toml
Due: none

Update readme
  README.md
  README_CN.md
  docs/requirements.txt
  src/npm-tui/package.json
  src/npm-tui/src/components/tui/form.tsx
  src/npm-tui/src/components/tui/table.tsx
  src/python-tui/src/tui/components.py
  src/python-tui/src/tui/version.py
Due: python-format, js-prettier

Update version
  src/npm-tui/package.json
  src/python-tui/src/tui/version.py
Due: python-format, js-prettier

Add paragraph component
  src/npm-tui/src/components/tui/any-component.tsx
  src/npm-tui/src/components/tui/paragraph.tsx
  src/python-tui/src/tui/components.py
Due: python-format, js-prettier

Add markdown compontent
  docs/src/documentation/__init__.py
  docs/src/documentation/app/group__docs/docs/page.py
  docs/src/documentation/content/__init__.py
  docs/src/documentation/content/introduction.md
  src/npm-tui/package.json
  src/npm-tui/pnpm-lock.yaml
  src/npm-tui/src/components/tui/any-component.tsx
  src/npm-tui/src/components/tui/markdown-lazy.tsx
  src/npm-tui/src/components/tui/markdown.tsx
  src/npm-tui/src/routing.tsx
  src/npm-tui/tailwind.config.js
  src/npm-tui/vite.config.ts
  src/python-tui/src/tui/components.py
  src/python-tui/src/tui/render.py
Due: python-format, js-prettier

Add form lazy component
  src/npm-tui/src/components/tui/any-component.tsx
  src/npm-tui/src/components/tui/form-lazy.tsx
  src/npm-tui/src/components/tui/form.tsx
  src/npm-tui/src/components/tui/markdown-lazy.tsx
  src/npm-tui/src/components/tui/markdown.tsx
Due: js-prettier

Update icon library
  src/npm-tui/package.json
  src/npm-tui/pnpm-lock.yaml
  src/npm-tui/src/components/tui/form-lazy.tsx
Due: js-prettier

Update readme
  README.md
  README_CN.md
  docs/src/documentation/content/introduction.md
Due: js-prettier

Update readme
  README.md
  README_CN.md
  docs/src/documentation/app/page.py
  docs/src/documentation/content/introduction.md
Due: python-format, js-prettier

Update docs nav style
  docs/src/documentation/app/group__docs/layout.py
Due: python-format

Add copy button
  src/npm-tui/src/components/tui/any-component.tsx
  src/npm-tui/src/components/tui/copy-button.tsx
  src/python-tui/src/tui/components.py
Due: python-format, js-prettier

Add code block
  docs/src/documentation/content/introduction.md
  src/npm-tui/package.json
  src/npm-tui/pnpm-lock.yaml
  src/npm-tui/src/components/tui/any-component.tsx
  src/npm-tui/src/components/tui/code-block-lazy.tsx
  src/npm-tui/src/components/tui/code-block.tsx
  src/npm-tui/src/components/tui/markdown-lazy.tsx
  src/npm-tui/vite.config.ts
  src/python-tui/src/tui/components.py
Due: python-format, js-prettier

Update version
  src/npm-tui/package.json
  src/npm-tui/vite.config.ts
  src/python-tui/src/tui/version.py
Due: python-format, js-prettier

Add markdown server render
  pdm.lock
  pyproject.toml
  src/python-tui/src/tui/components.py
Due: python-format

Update dependency
  pdm.lock
  pyproject.toml
Due: none

Fix dynamic import url
  src/npm-tui/package.json
  src/npm-tui/pnpm-lock.yaml
  src/npm-tui/src/components/tui/code-block.tsx
  src/npm-tui/src/components/tui/markdown.tsx
  src/npm-tui/vite.config.ts
Due: js-prettier

Add installation page
  docs/src/documentation/app/group__docs/docs/installation/__init__.py
  docs/src/documentation/app/group__docs/docs/installation/page.py
  docs/src/documentation/app/group__docs/docs/introduction/__init__.py
  docs/src/documentation/app/group__docs/docs/introduction/page.py
  docs/src/documentation/app/group__docs/docs/page.py
  docs/src/documentation/app/group__docs/layout.py
  docs/src/documentation/app/layout.py
  docs/src/documentation/app/page.py
  docs/src/documentation/content/installation.md
  docs/src/documentation/content/introduction.md
  docs/src/documentation/utils.py
  src/npm-tui/tailwind.config.js
Due: python-format, js-prettier

Fix code block copy button style
  src/npm-tui/src/components/tui/code-block-lazy.tsx
Due: js-prettier

Switch project package management tool to rye
  .python-version
  Makefile
  pdm.lock
  pyproject.toml
  requirements-dev.lock
  requirements.lock
Due: none

Add ci
  .github/actions/setup-npm/action.yaml
  .github/actions/setup-python/action.yaml
  .github/dependabot.yml
  .github/workflows/CI.yaml
  Makefile
  README.md
  pyproject.toml
  src/npm-tui/package.json
Due: js-prettier

Update ci
  .github/workflows/CI.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
Due: none

Update readme
  README.md
Due: js-prettier

Add release ci
  .github/actions/setup-npm/action.yaml
  .github/workflows/release.yaml
  .gitignore
  pnpm-lock.yaml
  pnpm-workspace.yaml
  pyproject.toml
  src/npm-tui/src/lib/action.ts
  src/npm-tui/src/lib/ajv-resolver.ts
  src/npm-tui/tsconfig.json
  src/python-tui/src/tui/version.py
Due: python-format, js-prettier

Update version
  pyproject.toml
  src/npm-tui/package.json
Due: js-prettier

Fix build config
  pyproject.toml
Due: none

Add cookiecutter
  Makefile
  README.md
  pyproject.toml
  src/python-tui/src/cookiecutter-tui/cookiecutter.json
  src/python-tui/src/cookiecutter-tui/{{cookiecutter.project_slug}}/.python-version
  src/python-tui/src/cookiecutter-tui/{{cookiecutter.project_slug}}/README.md
  src/python-tui/src/cookiecutter-tui/{{cookiecutter.project_slug}}/pyproject.toml
  src/python-tui/src/cookiecutter-tui/{{cookiecutter.project_slug}}/src/main.py
  src/python-tui/src/cookiecutter-tui/{{cookiecutter.project_slug}}/src/{{cookiecutter.project_slug}}/__init__.py
  src/python-tui/src/cookiecutter-tui/{{cookiecutter.project_slug}}/src/{{cookiecutter.project_slug}}/app/__init__.py
  src/python-tui/src/cookiecutter-tui/{{cookiecutter.project_slug}}/src/{{cookiecutter.project_slug}}/app/layout.py
  src/python-tui/src/cookiecutter-tui/{{cookiecutter.project_slug}}/src/{{cookiecutter.project_slug}}/app/page.py
Due: python-format, js-prettier

Fix readme
  README.md
  src/python-tui/src/cookiecutter-tui/{{cookiecutter.project_slug}}/pyproject.toml
Due: js-prettier

Add docs
  docs/src/documentation/app/group__docs/docs/dynamic__content_name/__init__.py
  docs/src/documentation/app/group__docs/docs/dynamic__content_name/page.py
  docs/src/documentation/app/group__docs/docs/installation/page.py
  docs/src/documentation/app/group__docs/docs/introduction/page.py
  docs/src/documentation/app/group__docs/layout.py
  docs/src/documentation/app/group__docs/learn/__init__.py
  docs/src/documentation/app/group__docs/learn/dynamic__content_name/__init__.py
  docs/src/documentation/app/group__docs/learn/dynamic__content_name/page.py
  docs/src/documentation/content/form.md
  docs/src/documentation/content/installation.md
  docs/src/documentation/content/project-structure.md
  docs/src/documentation/content/routing.md
  src/npm-tui/src/components/tui/markdown-lazy.tsx
Due: python-format, js-prettier
