Repository Chaoyingz/flect: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, js-prettier

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.3.0
      hooks:
          - id: check-yaml
          - id: check-toml
          - id: end-of-file-fixer
          - id: trailing-whitespace

    - repo: local
      hooks:
        - id: python-format
          name: python-format
          types_or: [python]
          entry: make format
          language: system
          pass_filenames: false

        - id: js-prettier
          name: js-prettier
          types_or: [ javascript, jsx, ts, tsx, css, json, markdown ]
          entry: npm run prettier
          language: system

Fix route path
  docs/app/layout.py
  docs/app/page.py
  src/npm-tui/src/router.tsx
  src/python-tui/src/tui/render.py
  src/python-tui/src/tui/routing.py
Due: python-format, js-prettier

Fix types
  .pre-commit-config.yaml
  Makefile
  src/python-tui/src/tui/components.py
  src/python-tui/src/tui/render.py
  src/python-tui/src/tui/routing.py
Due: python-format

Update pre render
  src/python-tui/pdm.lock
  src/python-tui/src/tui/render.py
  src/python-tui/src/tui/routing.py
Due: python-format

Update project description
  README.md
  docs/app/docs/page.py
  docs/app/page.py
Due: python-format, js-prettier

Update readme
  README.md
  docs/app/docs/page.py
  docs/app/page.py
Due: python-format, js-prettier

Optimize routing
  docs/main.py
  src/npm-tui/src/router.tsx
  src/npm-tui/src/routing.tsx
  src/npm-tui/src/tui.tsx
  src/python-tui/src/tui/__init__.py
  src/python-tui/src/tui/application.py
  src/python-tui/src/tui/render.py
  src/python-tui/src/tui/routing.py
Due: python-format, js-prettier

Add function docs
  src/npm-tui/src/routing.tsx
  src/python-tui/src/tui/application.py
  src/python-tui/src/tui/render.py
  src/python-tui/src/tui/routing.py
Due: python-format, js-prettier

Add test
  pyproject.toml
  src/python-tui/pdm.lock
  src/python-tui/pyproject.toml
  src/python-tui/src/tui/application.py
  src/python-tui/src/tui/render.py
  src/python-tui/src/tui/routing.py
  src/python-tui/tests/test_render.py
  src/python-tui/tests/test_routing.py
Due: python-format

Fix server-side render layout
  docs/app/docs/components/__init__.py
  docs/app/docs/components/page.py
  src/python-tui/pdm.lock
  src/python-tui/pyproject.toml
  src/python-tui/src/tui/render.py
  src/python-tui/src/tui/routing.py
  src/python-tui/tests/test_render.py
Due: python-format

Add support for dynamic routes
  docs/app/docs/components/_ctype/__init__.py
  docs/app/docs/components/_ctype/page.py
  docs/app/docs/components/page.py
  docs/app/docs/layout.py
  src/npm-tui/src/routing.tsx
  src/python-tui/src/tui/render.py
  src/python-tui/src/tui/routing.py
Due: python-format, js-prettier

Update docs
  README.md
  docs/app/docs/components/_ctype/page.py
  docs/app/docs/layout.py
  docs/app/docs/page.py
  docs_bak/__init__.py
  docs_bak/app.py
  docs_bak/components/__init__.py
  docs_bak/components/site_header.py
  docs_bak/layouts/__init__.py
  docs_bak/layouts/docs_layout.py
  docs_bak/layouts/root_layout.py
  docs_bak/pages/__init__.py
  docs_bak/pages/components.py
  docs_bak/pages/docs.py
  docs_bak/pages/landing.py
  src/npm-tui/package.json
  src/npm-tui/tailwind.config.js
  src/python-tui/src/tui/components.py
  src/python-tui/src/tui/render.py
Due: python-format, js-prettier

Update README.md
  README.md
Due: js-prettier

Remove static assets url
  src/python-tui/src/tui/application.py
  src/python-tui/src/tui/render.py
Due: python-format

Fix container component tag
  src/npm-tui/src/components/tui/container.tsx
  src/python-tui/src/tui/components.py
Due: python-format, js-prettier

Add vervel config
  .coverage
  .pdm-python
  requirements.txt
  vercel.json
Due: js-prettier

Update static directory path
  .coverage
  .pdm-python
  Makefile
  docs/.gitignore
  docs/README.md
  docs/docs_src/__init__.py
  docs/docs_src/app/__init__.py
  docs/docs_src/app/docs/__init__.py
  docs/docs_src/app/docs/components/__init__.py
  docs/docs_src/app/docs/components/_ctype/__init__.py
  docs/docs_src/app/docs/components/_ctype/page.py
  docs/docs_src/app/docs/layout.py
  docs/docs_src/app/docs/page.py
  docs/docs_src/app/layout.py
  docs/docs_src/app/page.py
  docs/docs_src/main.py
  docs/requirements.txt
  docs/vercel.json
  requirements.txt
  src/npm-tui/cors_server.py
  src/npm-tui/vite.config.ts
  src/python-tui/pyproject.toml
  src/python-tui/src/static/assets/index.css
  src/python-tui/src/static/assets/index.js
  src/python-tui/src/static/index.html
  src/python-tui/src/static/vite.svg
  src/python-tui/src/tui/__init__.py
  src/python-tui/src/tui/application.py
  src/python-tui/src/tui/components.py
  src/python-tui/src/tui/render.py
  vercel.json
Due: python-format, js-prettier

Fix build config
  .pre-commit-config.yaml
  Makefile
  docs/README.md
  docs/vercel.json
  package.json
  pdm.lock
  pyproject.toml
  src/python-tui/.gitignore
  src/python-tui/README.md
  src/python-tui/pyproject.toml
  src/python-tui/src/tui/__init__.py
Due: python-format, js-prettier

Fix pyright
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Update docs src
  Makefile
  docs/.gitignore
  docs/docs_src/main.py
  docs/src/document/__init__.py
  docs/src/document/app/__init__.py
  docs/src/document/app/docs/__init__.py
  docs/src/document/app/docs/components/__init__.py
  docs/src/document/app/docs/components/_ctype/__init__.py
  docs/src/document/app/docs/components/_ctype/page.py
  docs/src/document/app/docs/layout.py
  docs/src/document/app/docs/page.py
  docs/src/document/app/layout.py
  docs/src/document/app/page.py
  docs/src/document/main.py
  docs/vercel.json
  src/python-tui/src/tui/metadata.py
  src/python-tui/src/tui/render.py
  src/python-tui/tests/test_routing.py
Due: python-format, js-prettier

Fix typing
  src/npm-tui/src/routing.tsx
  src/python-tui/src/tui/components.py
  src/python-tui/src/tui/meta.py
  src/python-tui/src/tui/metadata.py
  src/python-tui/src/tui/routing.py
Due: python-format, js-prettier

Fix tests
  docs/src/document/app/docs/components/_ctype/page.py
Due: python-format

Fix docs header style
  docs/src/document/app/layout.py
Due: python-format

Remove static folder for git
  .gitignore
  src/python-tui/src/static/assets/index.css
  src/python-tui/src/static/assets/index.js
  src/python-tui/src/static/index.html
  src/python-tui/src/static/vite.svg
Due: js-prettier

Add tui response
  docs/src/document/app/docs/components/_ctype/page.py
  docs/src/document/app/docs/layout.py
  docs/src/document/app/docs/page.py
  docs/src/document/app/layout.py
  docs/src/document/app/page.py
  src/npm-tui/src/routing.tsx
  src/python-tui/src/tui/__init__.py
  src/python-tui/src/tui/render.py
  src/python-tui/src/tui/response.py
  src/python-tui/src/tui/routing.py
Due: python-format, js-prettier

Add render meta html
  .pre-commit-config.yaml
  docs/src/document/app/docs/components/_ctype/page.py
  docs/src/document/app/docs/layout.py
  docs/src/document/app/layout.py
  src/python-tui/src/tui/__init__.py
  src/python-tui/src/tui/meta.py
  src/python-tui/src/tui/render.py
  src/python-tui/src/tui/response.py
  src/python-tui/src/tui/routing.py
Due: python-format

Add support for page meta
  .pre-commit-config.yaml
  docs/src/document/app/docs/layout.py
  src/npm-tui/src/routing.tsx
  src/python-tui/src/tui/render.py
  src/python-tui/src/tui/response.py
  src/python-tui/tests/test_render.py
Due: python-format, js-prettier

Update version
  src/python-tui/src/tui/__init__.py
Due: python-format

Fix packaging error
  .DS_Store
  pyproject.toml
  src/python-tui/src/tui/__init__.py
Due: python-format

Fix server render
  .gitignore
  src/python-tui/src/tui/__init__.py
  src/python-tui/src/tui/render.py
Due: python-format

Add ajv resolver
  .DS_Store
  docs/src/document/app/docs/components/_ctype/page.py
  docs/src/document/app/docs/layout.py
  src/npm-tui/package.json
  src/npm-tui/pnpm-lock.yaml
  src/npm-tui/src/App.tsx
  src/npm-tui/src/components/tui/any-component.tsx
  src/npm-tui/src/components/tui/form.tsx
  src/npm-tui/src/components/ui/form.tsx
  src/npm-tui/src/components/ui/input.tsx
  src/npm-tui/src/components/ui/label.tsx
  src/npm-tui/src/tui.tsx
  src/python-tui/src/tui/components.py
Due: python-format, js-prettier

Add form component
  .gitignore
  docs/src/document/app/docs/components/_ctype/page.py
  src/npm-tui/package.json
  src/npm-tui/pnpm-lock.yaml
  src/npm-tui/src/components/tui/form.tsx
  src/npm-tui/src/components/ui/select.tsx
  src/python-tui/src/static/assets/index.css
  src/python-tui/src/static/assets/index.js
  src/python-tui/src/static/index.html
  src/python-tui/src/static/vite.svg
  src/python-tui/src/tui/__init__.py
Due: python-format, js-prettier

Refactor form component usage
  docs/src/document/app/docs/components/_ctype/page.py
  src/npm-tui/package.json
  src/npm-tui/pnpm-lock.yaml
  src/npm-tui/src/components/tui/form.tsx
  src/npm-tui/src/components/ui/checkbox.tsx
  src/npm-tui/src/components/ui/textarea.tsx
  src/python-tui/src/static/assets/index.css
  src/python-tui/src/static/assets/index.js
  src/python-tui/src/tui/__init__.py
  src/python-tui/src/tui/form.py
Due: python-format, js-prettier

Remove static folder for git
  src/python-tui/src/static/assets/index.css
  src/python-tui/src/static/assets/index.js
  src/python-tui/src/static/index.html
  src/python-tui/src/static/vite.svg
Due: js-prettier

Add Chinese README
  README.md
  README_CN.md
Due: js-prettier

Update response name
  .DS_Store
  docs/src/document/app/docs/components/_ctype/page.py
  docs/src/document/app/docs/layout.py
  docs/src/document/app/docs/page.py
  docs/src/document/app/layout.py
  docs/src/document/app/page.py
  src/npm-tui/package.json
  src/npm-tui/pnpm-lock.yaml
  src/npm-tui/src/App.tsx
  src/npm-tui/src/components/tui/form.tsx
  src/npm-tui/src/components/ui/sonner.tsx
  src/npm-tui/src/routing.tsx
  src/python-tui/src/tui/__init__.py
  src/python-tui/src/tui/render.py
  src/python-tui/src/tui/response.py
  src/python-tui/src/tui/routing.py
  src/python-tui/tests/test_render.py
Due: python-format, js-prettier

Update docs app name
  Makefile
  docs/src/document/main.py
  docs/src/documentation/__init__.py
  docs/src/documentation/app/__init__.py
  docs/src/documentation/app/docs/__init__.py
  docs/src/documentation/app/docs/components/__init__.py
  docs/src/documentation/app/docs/components/_ctype/__init__.py
  docs/src/documentation/app/docs/components/_ctype/page.py
  docs/src/documentation/app/docs/layout.py
  docs/src/documentation/app/docs/page.py
  docs/src/documentation/app/layout.py
  docs/src/documentation/app/page.py
  docs/src/documentation/main.py
  docs/vercel.json
  src/python-tui/src/tui/__init__.py
  src/python-tui/src/tui/application.py
  src/python-tui/tests/test_routing.py
Due: python-format, js-prettier

Add action demo
  docs/src/documentation/app/docs/components/_ctype/page.py
  docs/src/documentation/app/docs/components/form/__init__.py
  docs/src/documentation/app/docs/components/form/route.py
  src/npm-tui/src/components/tui/form.tsx
  src/python-tui/src/tui/actions.py
  src/python-tui/src/tui/components.py
  src/python-tui/src/tui/response.py
  src/python-tui/src/tui/routing.py
  src/python-tui/tests/test_routing.py
Due: python-format, js-prettier

Add notify action
  docs/src/documentation/app/docs/components/_component_type/__init__.py
  docs/src/documentation/app/docs/components/_component_type/page.py
  docs/src/documentation/app/docs/components/form/route.py
  pdm.lock
  pyproject.toml
  src/npm-tui/src/App.tsx
  src/npm-tui/src/components/tui/any-component.tsx
  src/npm-tui/src/components/tui/avatar.tsx
  src/npm-tui/src/components/tui/button.tsx
  src/npm-tui/src/components/tui/container.tsx
  src/npm-tui/src/components/tui/form.tsx
  src/npm-tui/src/components/tui/heading.tsx
  src/npm-tui/src/components/tui/link.tsx
  src/npm-tui/src/components/tui/outlet.tsx
  src/npm-tui/src/components/tui/table.tsx
  src/npm-tui/src/components/tui/text.tsx
  src/python-tui/src/tui/actions.py
  src/python-tui/src/tui/components.py
  src/python-tui/src/tui/form.py
  src/python-tui/tests/test_render.py
Due: python-format, js-prettier

Add static files version
  docs/src/documentation/app/docs/components/form/route.py
  src/npm-tui/package.json
  src/npm-tui/vite.config.ts
  src/python-tui/src/tui/__init__.py
  src/python-tui/src/tui/actions.py
  src/python-tui/src/tui/render.py
Due: python-format, js-prettier

Update gitignore
  .DS_Store
  .gitignore
Due: none
